body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.naslov {
    margin: 0 auto;
    text-align: center;
    height: 600px;
    width: 600px;
}

.formaZaUnos {
    margin: 0 auto;
    height: 300px;
    width: 600px;
    background-color: rgb(90, 152, 152);
}

.unos {
    margin: 0 auto;
    margin-bottom: 10px;
}

form {
    padding: 50px;
}

label {
    display: inline-block;
    text-align: left;
    height: 20px;
    width: 200px;
}

input {
    height: 20px;
    width: 190px;
}

select,
option {
    height: 25px;
    width: 197px;
}

.buttons {
    padding-top: 10px;
}

button {
    height: 20px;
    width: 170px;
    background-color: rgba(0, 0, 0, 0.28);
    color: rgba(255, 255, 255, 0.375);
    font-weight: bold;
}